:host {
  flex: 0 0 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--app-padding-large);
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--app-padding-large) var(--app-padding-small);
}
