<ng-container *appShowOnDesktop="true">
  <div class="control-row">
    <app-control-button [disabled]="isLoading" directionLabel="Q" (moveEvent)="move($event)">Q</app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="W" (moveEvent)="move($event)">W</app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="E" (moveEvent)="move($event)">E</app-control-button>
  </div>
  <div class="control-row">
    <app-control-button [disabled]="isLoading" directionLabel="A" (moveEvent)="move($event)">A</app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="S" (moveEvent)="move($event)">S</app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="D" (moveEvent)="move($event)">D</app-control-button>
  </div>
</ng-container>

<ng-container *appShowOnDesktop="false">
  <div class="control-row">
    <app-control-button [disabled]="isLoading" directionLabel="Q" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon top-left"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="W" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon top"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="E" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon top-right"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
  </div>
  <div class="control-row">
    <app-control-button [disabled]="isLoading" directionLabel="A" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon bottom-left"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="S" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon bottom"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
    <app-control-button [disabled]="isLoading" directionLabel="D" (moveEvent)="move($event)" [width]="60" [height]="60"
      ><app-svg-icon
        class="icon bottom-right"
        [class.disabled]="isLoading"
        [path]="'assets/icons/double-arrow-right.svg'"
      ></app-svg-icon
    ></app-control-button>
  </div>
</ng-container>
