:host {
  position: relative;
  display: flex;
  flex-direction: column;

  --error-color: #dc3545;
}

label {
  display: inline-block;
  padding-bottom: 8px;
}

input {
  padding: 6px 12px;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #dee2e6;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

input.error {
  border-color: var(--error-color);
}

input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}

input.error:focus {
  border-color: var(--error-color);
  box-shadow: 0 0 0 4px rgb(220 53 69 / 25%);
}

.message {
  display: none;
  margin: 0;
}

.message.error {
  position: absolute;
  bottom: calc((var(--app-padding-medium) + 2px) * -1);
  display: block;
  font-size: 10px;
  color: var(--error-color);
}
