<fieldset>
  <legend>Game Setup</legend>

  <div class="input-wrapper" [ngClass]="{ 'is-desktop': isDesktop, 'is-mobile': isMobile }">
    <app-number-input
      [minValue]="1"
      [maxValue]="8"
      label="Radius"
      [value]="radius"
      (valueChange)="gameSetupService.setRadius($event)"
    ></app-number-input>
    <app-number-input
      [minValue]="4"
      label="Gap"
      [value]="gap"
      (valueChange)="gameSetupService.setGap($event)"
      [step]="4"
    ></app-number-input>
    <app-number-input
      [minValue]="40"
      label="Hex Width"
      [value]="hexWidth"
      (valueChange)="gameSetupService.setHexWidth($event)"
      [step]="10"
    ></app-number-input>
  </div>

  <app-link to="/game" styleType="primary-btn" (appLinkEvent)="startGame()">Start Game</app-link>
</fieldset>
