fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--app-padding-large);
  align-items: center;
}

legend {
  margin: 0;
  text-align: center;
}

.input-wrapper {
  display: flex;
  gap: var(--app-padding-medium);
}

.input-wrapper.is-mobile {
  flex-direction: column;
}

.input-wrapper.is-desktop {
  flex-direction: row;
}
