<main>
  <h1>About Hexagonal 2048</h1>
  <article class="text-wrapper">
    <p>
      👋🏼 Welcome to <strong>Hexagonal</strong> version of the classical <strong>2048</strong> game created by
      <app-link [isExternal]="true" to="https://github.com/serge-st">Serge St</app-link>
    </p>
    <p>
      🙏🏼 Massive thanks to <strong>Amit Patel</strong> from <strong>Red Blob Games</strong> for creating this
      <app-link [isExternal]="true" to="https://www.redblobgames.com/grids/hexagons/">amazing article</app-link> that
      helped a ton!
    </p>
    <p>
      🤓 As a <strong>React</strong> developer, I decided to take on this challenge and see if I could build this app at
      all, as well as test my learning skills and build it using <strong>Angular</strong>. I wanted it to be a pure
      web-based game, intending to use <strong>HTML</strong> elements to draw the shapes and basic
      <strong>CSS</strong> transitions to make the game more appealing to the eye. Usually, <strong>HTML</strong> is
      used to display something like the text you are reading now.
    </p>
    <p>👇🏼 Click the button below to see what <strong>HTML</strong> elements are used for here</p>
    <app-link to="/game-setup" styleType="primary-btn">To The Game</app-link>
  </article>
</main>
