<main>
  <h1>About Hexagonal 2048</h1>
  <div class="text-wrapper">
    <p>
      👋🏼 Welcome to Hexagonal version of the classical 2048 game created by
      <app-link [isExternal]="true" to="https://github.com/serge-st">Serge St</app-link>
    </p>
    <p>
      🙏🏼 Massive thanks to Amit Patel from Red Blob Games for creating this
      <app-link [isExternal]="true" to="https://www.redblobgames.com/grids/hexagons/">amazing article</app-link> that
      helped a ton!
    </p>
    <p>
      🤓 As a React developer, I decided to take on this challenge and see if I could build this app at all, as well as
      test my learning skills and build it using Angular. I wanted it to be a pure web-based game, intending to use HTML
      elements to draw the shapes and basic CSS transitions to make the game more appealing to the eye. Usually, HTML is
      used to display something the text you are reading now.
    </p>
    <p>👇🏼 Click the button below to see what HTML elements are used for here</p>
    <app-link to="/game-setup" styleType="primary-btn">To The Game</app-link>
  </div>
</main>
