<main>
  <h1 *ngIf="isInProgress$ | async">Collect 2048! 🎮</h1>
  <h1 *ngIf="isGameOver$ | async">Game Over 💀</h1>
  <h1 *ngIf="isWin$ | async">2048 🥳 Congratulations, you won! 👑</h1>

  <ng-container *ngIf="(isGameOver$ | async) || (isWin$ | async)">
    <app-game-over-control></app-game-over-control>
  </ng-container>

  <app-grid
    [radius]="radius$ | async"
    [gap]="gap$ | async"
    [hexWidth]="hexWidth$ | async"
    [gameState]="gameState$ | async"
  ></app-grid>

  <ng-container *ngIf="isInProgress$ | async">
    <h2>Game Controls</h2>
    <app-game-control
      [radius]="(radius$ | async)!"
      [isLoading]="(isLoading$ | async)!"
      [hexData]="(hexData$ | async)!"
    ></app-game-control>
    <article>
      <p *appShowOnDesktop="true">Click the buttons to move the hexagons, or use your keyboard keys</p>

      <p *appShowOnDesktop="false">Press the buttons to move the hexagons</p>

      <p class="game-tip">When two hexagons with the same number touch, they merge into one!</p>
    </article>
  </ng-container>
</main>
