<main>
  <h1 *ngIf="isInProgress$ | async">Let's play! 🎮</h1>
  <h1 *ngIf="isGameOver$ | async">Game Over 💀</h1>
  <h1 *ngIf="isWin$ | async">2048 🥳 Congratulations, you won! 👑</h1>

  <ng-container *ngIf="(isGameOver$ | async) || (isWin$ | async)">
    <app-game-over-control></app-game-over-control>
  </ng-container>

  <app-grid></app-grid>
  <ng-container *ngIf="!(isWin$ | async)">
    <h2>Game Controls</h2>
    <p *appShowOnDesktop="true">Click the buttons to move the hexagons, or use your keyboard keys</p>

    <p *appShowOnDesktop="false">Press the buttons to move the hexagons</p>
    <app-game-control></app-game-control>
  </ng-container>
</main>
